<div class="hero-unit">
  <h1>Yuan's NYC Restaurant Picks</h1>
  <p>This documents all the restaurants that I recommend in New York City. More to come</p>
  <%= link_to 'Add a new restaurant',new_post_path, :class => 'btn btn-large' %>
	<!--<p><a class="btn btn-primary btn-large" href = /posts/new >New Post</a></p>-->
</div>

<div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span12">

<h2>Export to:</h2>
<%= link_to "CSV", posts_path(format: "csv") %>

<h2>Import Restaurants</h2>
<%= form_tag import_posts_path, multipart: true do %>
	<%= file_field_tag :file%>
	<%= submit_tag "Import" %>
<%end%>
	
<table cellpadding ="5" class="table table-striped">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "url"%></th>
    <th><%= sortable "area"%></th>
    <th><%= sortable "cuisine"%></th>
 		<th><%= sortable "yelp_price", "Yelp Price" %></th>
    <th><%= sortable "zagat_price", "Zagat Price"%></th>
    <th><%= sortable "yelp", "Yelp Rating"%></th>
    <th><%= sortable "michelin_rating", "Michelin Stars"%></th>
    <th><%= sortable "location", "Address" %></th>
		<th></th>
		<th></th>
  </tr>

<% @posts.each do |post| %>
	<tr>
		<td><%= link_to post.name, post%></td>
		<td  align = "center"><%= link_to post.url, post.url, target: "_blank" %></td>
		<td  align = "center"><%= post.area %></td>
		<td  align = "center"><%= post.cuisine %></td>
		<td  align = "center"><%= post.yelp_price %></td>
		<td  align = "center"><%= post.zagat_price %></td>
		<td  align = "center"><%= post.yelp %></td>
		<td  align = "center"><%= post.michelin_rating %></td>
		<td  align = "center"><%= post.location %></td>
		<td><%= link_to 'Show',post, class: 'btn btn-mini' %></td>
		<td><%= link_to 'Edit',edit_post_path(post), class: 'btn btn-mini' %></td>
	</tr>
<% end %>
		</div>
	</div>
</div>
<br />


