<p id="notice"><%= notice %></p>

<div class="hero-unit">
  <h1><%= @post.name %></h1>
</div>
<div class = "container">

<p>
  <b>Review:</b>
  <%= @post.review %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @post.url, @post.url%>
</p>

<p>
  <b>Location:</b>
  <%= @post.location %>
</p>

	<%= render 'gmap' %>

<h3>Comments</h3>
<% @post.comments.each do |comment|%>
	<div id = "comment">
		<p>
			<strong>Commented <%= time_ago_in_words(comment.created_at)%></strong>
			<br />
				User Email: <%=  comment.email %>
			<br />
				User Comment: <%=  comment.content %>
			<br />
		</p>
	</div>
<% end %>

<%=form_for [@post, Comment.new] do |f|%>

	<div class="field">
		<%= f.label :email, "User's Email Address: " + current_user.email%><br />
		<%-# @post.comments.create(email: current_user.email) %>
	</div>

	<div class="field">
  		<%= f.label :content, "New Comment" %><br />
  		<%= f.text_area :content %>
	</div>
	
  	<div class="actions">
    	<%= f.submit %>
  </div>


<%end%>


<button class="btn btn-mini btn-primary" type="button"><%= link_to 'Edit', edit_post_path(@post) %></button> |
<button class="btn btn-mini btn-primary" type="button"><%= link_to 'Back', posts_path %></button>
</div>